body{
    font-size: .75rem;
    -webkit-print-color-adjust:exact;
}

#main {
    margin-top: 15px;
}

.offline{
    background-color: red;
}

.table {
    width: 100%;
}

.title{
    font-size: 2em;
}

legend{
    text-transform: uppercase;
}


.table-bordered{
    border: solid 1px #dadee4;
}

.table-bordered tr td{
    border: solid 1px #dadee4;
}

.table-bordered td, .table-bordered th {
    padding: .4rem .4rem;
}

.fade-in {
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    
    .page-break {
        page-break-after: always;
    }

    .table-bordered {
        page-break-inside: avoid;
    }

    .bg-gray{ 
       background-color: #f7f8f9!important
    }
}